<form [formGroup]="registerForm" nz-form class="form-with-spacing">
    <!-- Código -->
    <div nz-form-item>
      <div nz-form-label>
        <label for="code">Código</label>
      </div>
      <div nz-form-control>
        <input nz-input id="code" placeholder="Código do item" formControlName="code" />
        <div *ngIf="registerForm.get('code')?.invalid && registerForm.get('code')?.touched" class="error-message">
          Campo obrigatório.
        </div>
      </div>
    </div>
  
    <!-- Descrição -->
    <div nz-form-item>
      <div nz-form-label>
        <label for="description">Descrição</label>
      </div>
      <div nz-form-control>
        <input nz-input id="description" placeholder="Descrição do item" formControlName="description" />
        <div *ngIf="registerForm.get('description')?.invalid && registerForm.get('description')?.touched" class="error-message">
          Campo obrigatório.
        </div>
      </div>
    </div>
  
    <!-- Valor -->
    <div nz-form-item>
      <div nz-form-label>
        <label for="unitPrice">Valor (R$)</label>
      </div>
      <div nz-form-control>
        <input nz-input id="unitPrice" placeholder="Valor do item (R$)" formControlName="unitPrice" type="number" />
        <div *ngIf="registerForm.get('unitPrice')?.invalid && registerForm.get('unitPrice')?.touched" class="error-message">
          Campo obrigatório.
        </div>
      </div>
    </div>
  
    <!-- É adicional? -->
    <div *ngIf="type === 'ingredient'" nz-form-item>
      <div nz-form-label>
        <label for="isAdditional">É adicional?</label>
      </div>
      <div nz-form-control>
        <label nz-checkbox formControlName="isAdditional">Sim</label>
      </div>
    </div>
  
    <div *ngIf="type === 'drink'" nz-form-item>
      <div nz-form-label>
        <label for="hasSugar">Contém açúcar?</label>
      </div>
      <div nz-form-control>
        <label nz-checkbox formControlName="hasSugar">Sim</label>
      </div>
    </div>

    <!-- Ingredientes -->
		<div nz-form-item *ngIf="type === 'burger'">
			<div nz-form-label>
					<label for="burgerIngredients">Ingredientes</label>
			</div>
			<div nz-form-control>
					<div formArrayName="burgerIngredients">
            <div *ngFor="let ingredient of burgerIngredients.controls; let i = index" [formGroupName]="i" class="array-item">
              <div class="form-row">
                <nz-select 
                  formControlName="ingredientId" 
                  nzShowSearch 
                  nzAllowClear 
                  nzPlaceHolder="Selecione o ingrediente">
                  <nz-option 
                    *ngFor="let option of ingredients" 
                    [nzLabel]="option.description + ' - ' + (option.unit_price | currency:'BRL')" 
                    [nzValue]="option.id">
                  </nz-option>
                </nz-select>
                <input 
                  nz-input 
                  formControlName="quantity" 
                  placeholder="Qtd." 
                  type="number" 
                  class="quantity-input" />
                <button 
                  nz-button 
                  nzDanger 
                  nzType="text" 
                  (click)="removeIngredient(i)">
                  <i nz-icon nzType="delete"></i>
                </button>
              </div>

              <div class="error-row">
                <div class="error-message" *ngIf="ingredient.get('ingredientId')?.invalid && ingredient.get('ingredientId')?.touched">
                  Selecione um ingrediente.
                </div>
                <div class="error-message" *ngIf="ingredient.get('quantity')?.invalid && ingredient.get('quantity')?.touched">
                  Insira uma quantidade válida.
                </div>
              </div>
            </div>
            <button nz-button nzDashed (click)="addIngredient()">Adicionar Ingrediente</button>
            <div *ngIf="registerForm.get('burgerIngredients')?.hasError('minimumArrayLength') && registerForm.get('burgerIngredients')?.touched">
              <p class="error-message">Você deve adicionar pelo menos um ingrediente!</p>
            </div>
					</div>
			</div>
		</div>
  </form>
  
<div nz-footer class="modal-footer">
	<button nz-button nzType="default" (click)="closeModal()" [disabled]="submitting">
		Cancelar
	</button>
	<button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="submitting" class="btn-save">
		Salvar
	</button>
</div>
  