<div class="header-container">
  <h1 class="page-title">Gerenciador de Pedidos</h1>
  <div class="button-container">
    <button nz-button nzType="primary" (click)="openOrderEditor()">Cadastrar Pedido</button>
    <button nz-button nzType="primary" (click)="openRegisterModal('burger')">Cadastrar Hambúrguer</button>
    <button nz-button nzType="primary" (click)="openRegisterModal('drink')">Cadastrar Bebida</button>
    <button nz-button nzType="primary" (click)="openRegisterModal('ingredient')">Cadastrar Ingrediente</button>
  </div>
</div>

<nz-table #basicTable [nzData]="orders" [nzBordered]="true" [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzWidth="10%" class="table-header">Código</th>
      <th nzWidth="35%" class="table-header">Nome do Cliente</th>
      <th nzWidth="30%" class="table-header">Descrição do Pedido</th>
      <th nzWidth="10%" class="table-header">Valor</th>
      <th nzWidth="25%" class="table-header">Data do Pedido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.code }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.description }}</td>
      <td>{{ order.value | currency:'BRL' }}</td>
      <td>{{ order.orderDate | date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</nz-table>
