<form [formGroup]="orderForm" nz-form class="form-with-spacing">
  <!-- Code -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="code">Código</label>
    </div>
    <div nz-form-control>
      <input
        nz-input
        id="code"
        placeholder="Código do pedido"
        formControlName="code"
        [class.is-invalid]="orderForm.get('code')?.invalid && orderForm.get('code')?.touched"
      />
      <div *ngIf="orderForm.get('code')?.invalid && orderForm.get('code')?.touched" class="error-message">
        Campo obrigatório.
      </div>
    </div>
  </div>

  <!-- Name -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="name">Nome</label>
    </div>
    <div nz-form-control>
      <input
        nz-input
        id="name"
        placeholder="Nome do cliente"
        formControlName="name"
        [class.is-invalid]="orderForm.get('name')?.invalid && orderForm.get('name')?.touched"
      />
      <div *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched" class="error-message">
        Campo obrigatório.
      </div>
    </div>
  </div>

  <!-- Description -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="description">Descrição</label>
    </div>
    <div nz-form-control>
      <input
        nz-input
        id="description"
        placeholder="Descrição do pedido"
        formControlName="description"
        [class.is-invalid]="orderForm.get('description')?.invalid && orderForm.get('description')?.touched"
      />
      <div *ngIf="orderForm.get('description')?.invalid && orderForm.get('description')?.touched" class="error-message">
        Campo obrigatório.
      </div>
    </div>
  </div>

  <!-- Phone -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="phone">Telefone</label>
    </div>
    <div nz-form-control>
      <input
        nz-input
        id="phone"
        placeholder="Telefone do cliente"
        formControlName="phone"
        type="tel"
        [class.is-invalid]="orderForm.get('phone')?.invalid && orderForm.get('phone')?.touched"
      />
      <div *ngIf="orderForm.get('phone')?.invalid && orderForm.get('phone')?.touched" class="error-message">
        Campo inválido.
      </div>
    </div>
  </div>

  <!-- Order Date -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="orderDate">Data do Pedido</label>
    </div>
    <div nz-form-control>
      <nz-date-picker
        formControlName="orderDate"
        nzFormat="dd/MM/yyyy"
        [class.is-invalid]="orderForm.get('orderDate')?.invalid && orderForm.get('orderDate')?.touched"
      ></nz-date-picker>
      <div *ngIf="orderForm.get('orderDate')?.invalid && orderForm.get('orderDate')?.touched" class="error-message">
        Campo obrigatório.
      </div>
    </div>
  </div>

  <!-- Address -->
  <div nz-form-item [formGroupName]="'address'" class="address-wrapper">
    <div nz-form-label>
      <label for="address">Endereço</label>
    </div>
    <div nz-form-control>
      <div class="address-fields">
        <input
          nz-input
          formControlName="street"
          placeholder="Rua"
          class="address-field"
          [class.is-invalid]="orderForm.get('address.street')?.invalid && orderForm.get('address.street')?.touched"
        />
        <input
          nz-input
          formControlName="number"
          placeholder="Número"
          class="address-field small"
          [class.is-invalid]="orderForm.get('address.number')?.invalid && orderForm.get('address.number')?.touched"
        />
        <input
          nz-input
          formControlName="district"
          placeholder="Bairro"
          class="address-field"
          [class.is-invalid]="orderForm.get('address.district')?.invalid && orderForm.get('address.district')?.touched"
        />
      </div>
      <div *ngIf="orderForm.get('address.street')?.invalid && orderForm.get('address.street')?.touched" class="error-message">
        Campo obrigatório.
      </div>
      <div *ngIf="orderForm.get('address.number')?.invalid && orderForm.get('address.number')?.touched" class="error-message">
        Campo obrigatório.
      </div>
      <div *ngIf="orderForm.get('address.district')?.invalid && orderForm.get('address.district')?.touched" class="error-message">
        Campo obrigatório.
      </div>
    </div>
  </div>

  <!-- Notes -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="notes">Observações</label>
    </div>
    <div nz-form-control>
      <div class="array-form" formArrayName="notes">
        <div *ngFor="let note of notes.controls; let i = index" class="array-item">
          <div class="form-row">
            <input nz-input [formControlName]="i" placeholder="Escreva uma nota" />
            <button nz-button nzDanger nzType="text" (click)="removeNote(i)">
              <i nz-icon nzType="delete"></i>
            </button>
          </div>
        </div>
        <button nz-button nzDashed (click)="addNote()" class="mt-2">
          Adicionar Nota
        </button>
      </div>
    </div>
  </div>

  <!-- Burgers -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="orderBurgers">Hambúrgueres</label>
      <button nz-button nzType="text" (click)="openRegisterModal('burger')">
        <i nz-icon nzType="plus-circle"></i>
      </button>
    </div>
    <div nz-form-control>
      <div class="array-form" formArrayName="orderBurgers">
        <div *ngFor="let burger of orderBurgers.controls; let i = index" [formGroupName]="i" class="array-item">
          <div class="form-row">
            <nz-select formControlName="burgerId" nzShowSearch nzAllowClear nzPlaceHolder="Selecione o burger">
              <nz-option *ngFor="let option of burgers" [nzLabel]="option.description + ' - ' + (option.unit_price | currency:'BRL')" [nzValue]="option.id"></nz-option>
            </nz-select>
            <input nz-input formControlName="quantity" placeholder="Qtd." type="number" class="quantity-input" />
            <button nz-button nzDanger nzType="text" (click)="removeBurger(i)">
              <i nz-icon nzType="delete"></i>
            </button>
          </div>

          <div class="error-row">
            <div class="error-message" *ngIf="burger.get('burgerId')?.invalid && burger.get('burgerId')?.touched">
              Selecione um hambúrguer.
            </div>
            <div class="error-message" *ngIf="burger.get('quantity')?.invalid && burger.get('quantity')?.touched">
              Insira uma quantidade válida.
            </div>
          </div>
        </div>
        <button nz-button nzDashed (click)="addBurger()">Adicionar hambúrguer</button>
        <div *ngIf="orderForm.get('orderBurgers')?.hasError('minimumArrayLength') && orderForm.get('orderBurgers')?.touched">
          <p class="error-message">Você deve adicionar pelo menos um lanche!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Additionals -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="orderAdditionals">Adicionais</label>
      <button nz-button nzType="text" (click)="openRegisterModal('ingredient')">
        <i nz-icon nzType="plus-circle"></i>
      </button>
    </div>
    <div nz-form-control>
      <div class="array-form" formArrayName="orderAdditionals">
        <div *ngFor="let additional of orderAdditionals.controls; let i = index" [formGroupName]="i" class="array-item">
          <div class="form-row">
            <nz-select formControlName="ingredientId" nzShowSearch nzAllowClear nzPlaceHolder="Selecione o adicional">
              <nz-option *ngFor="let option of additionals" [nzLabel]="option.description + ' - ' + (option.unit_price | currency:'BRL')" [nzValue]="option.id"></nz-option>
            </nz-select>
            <input nz-input formControlName="quantity" placeholder="Qtd." type="number" class="quantity-input" />
            <button nz-button nzDanger nzType="text" (click)="removeAdditional(i)">
              <i nz-icon nzType="delete"></i>
            </button>
          </div>

          <div class="error-row">
            <div class="error-message" *ngIf="additional.get('ingredientId')?.invalid && additional.get('ingredientId')?.touched">
              Selecione um adicional.
            </div>
            <div class="error-message" *ngIf="additional.get('quantity')?.invalid && additional.get('quantity')?.touched">
              Insira uma quantidade válida.
            </div>
          </div>
        </div>
        <button nz-button nzDashed (click)="addAdditional()">Adicionar Adicional</button>
      </div>
    </div>
  </div>

  <!-- Drinks -->
  <div nz-form-item>
    <div nz-form-label>
      <label for="orderDrinks">Bebidas</label>
      <button nz-button nzType="text" (click)="openRegisterModal('drink')">
        <i nz-icon nzType="plus-circle"></i>
      </button>
    </div>
    <div nz-form-control>
      <div class="array-form" formArrayName="orderDrinks">
        <div *ngFor="let drink of orderDrinks.controls; let i = index" [formGroupName]="i" class="array-item">
          <div class="form-row">
            <nz-select formControlName="drinkId" nzShowSearch nzAllowClear nzPlaceHolder="Selecione a bebida">
              <nz-option *ngFor="let option of drinks" [nzLabel]="option.description + ' - ' + (option.unit_price | currency:'BRL')" [nzValue]="option.id"></nz-option>
            </nz-select>
            <input nz-input formControlName="quantity" placeholder="Qtd." type="number" class="quantity-input" />
            <button nz-button nzDanger nzType="text" (click)="removeDrink(i)">
              <i nz-icon nzType="delete"></i>
            </button>
          </div>

          <div class="error-row">
            <div class="error-message" *ngIf="drink.get('drinkId')?.invalid && drink.get('drinkId')?.touched">
              Selecione uma bebida.
            </div>
            <div class="error-message" *ngIf="drink.get('quantity')?.invalid && drink.get('quantity')?.touched">
              Insira uma quantidade válida.
            </div>
          </div>
        </div>
        <button nz-button nzDashed (click)="addDrink()">Adicionar Bebida</button>
      </div>
    </div>
  </div>
</form>

<div class="footer">
  <div nz-form-item>
    <div nz-form-label>
      <label>Total do Pedido</label>
    </div>
    <div nz-form-control>
      <div class="total-price">
        {{ getTotalPrice() | currency: 'BRL' }}
      </div>
    </div>
  </div>
  <div nz-footer class="modal-footer">
    <button nz-button nzType="default" (click)="closeModal()" [disabled]="submitting">Cancelar</button>
    <button class="btn-save" nz-button nzType="primary" (click)="saveOrder()" [nzLoading]="submitting">Salvar</button>
  </div>
</div>
